<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717912287950-dlehrno2vmgbb61972nm9lia9cvpjue5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717912287950-dlehrno2vmgbb61972nm9lia9cvpjue5</string>
	<key>API_KEY</key>
	<string>AIzaSyBLeUZ_D64P9MICrVfRZ7L79a_3T_jhCnI</string>
	<key>GCM_SENDER_ID</key>
	<string>717912287950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homePage</string>
	<key>PROJECT_ID</key>
	<string>skin-b855e</string>
	<key>STORAGE_BUCKET</key>
	<string>skin-b855e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717912287950:ios:2656dcd65eda6b07943e9f</string>
</dict>
</plist>